body {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    background: linear-gradient(0deg, rgb(219, 0, 0), rgb(255, 255, 255));
    background-size: 400% 400%;
}

section {
    min-height: 90vh;
}

.navbar {
    font-size: 24px;
    font-weight: 300;
    background-color: white;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 8%, rgb(255, 216, 216));
}

.navbar-brand {
    color: rgb(46, 124, 246);
    font-size: 28px;
}

a {
    color: inherit;
    text-decoration: none;
    text-emphasis: none;
}

a:hover {
    color: inherit;
    text-decoration: underline;
    text-emphasis: none;
}

.nav-link {
    color: #aaaaaa;
}

.footer {
    background-color: white;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 8%, rgb(255, 216, 216));
}

.sec-title {
    opacity: 0;
    transform: translateX(-4rem);
    transition: transform 4s .25s cubic-bezier(0, 1, 0.3, 1),
                opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.sec-title.is-visible {
    opacity: 1;
    transform: translateX(0rem);
}

#about-img {
    width: 100%;
    height: auto;
}

/* Icons */

.fa,
.fas,
.far,
.fab {
    color: #000000;
    font-size: 2rem;
    margin: 1rem;
}

.fa:hover,
.fas:hover,
.far:hover,
.fab:hover {
    color: #b4b4b4;
}

.fa-code {
    font-size: 1rem;
    margin: 0px;
}